<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    
    <title>Weather</title>
    
</head>

<body>

    <div class="main-content">
        {{>header}}

        <p>Use this site to get your weather!</p>

        <form action="">
            <input type="text" placeholder="Type your location">
            <button>Search</button>
        </form>

        <p id="Error"></p>
        <p id="Forecast"></p>
    </div>
    
    

    {{>footer}}
</body>

<script rel="text/javascript" src="/js/client.js"></script>

</html>